/* 
    Document   : newCascadeStyleSheet
    Created on : Mar 20, 2013, 10:59:17 PM
    Author     : php
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

